/* font-family: 'Yrsa', serif;
font-family: 'Raleway', sans-serif; */
* {
  box-sizing: border-box;
}

html,
body { 
  padding: 0;
  margin: 0;  
  font-family: 'Yrsa', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {  
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}


.cursor_pointer {
  cursor: pointer;
}

.code-center,
.content-image {
  text-align: center;
}

.blockquote-card {
  background-color: rgb(254, 223, 194, 0.2);
  border:1px solid #FD9040;
  border-radius: 20px;
  padding:20px 60px;
  margin: 0 0 20px;
  color: #393a34;
  position: relative;
}
.blockquote-card blockquote {
  margin: 0;
}
.blockquote-card p:last-child {
  margin-bottom: 0px;
}
.blockquote-card .iconTop {
  position: absolute;
  top: -14px;
  left: 20px;
  color: #FD9040;
  transform: rotate(180deg);
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center; 
}
.blockquote-card .iconBottom {
  position: absolute;
  bottom: -13px;
  right: 20px;
  color: #FD9040;
  display: flex;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center; 
}

.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}
.header.sticky {
  backdrop-filter: blur(15px); 
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 21px 5px rgba(0, 0, 0, 0.2);
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  max-width: 200px;
  transition: all 0.3s ease-in-out;
}
.header .menu-row ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.header .menu-row ul li {
  margin: 0 0 0 20px; 
  list-style: none;
}
.header .menu-row ul li a {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px; 
  position: relative;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  color: #232323;
}
.header .menu-row ul li a:hover { 
  color: #FD9040;
}
.header .menu-row ul li a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #FD9040;
  transition: all 0.3s ease-in-out;
}
.header .menu-row ul li a:hover::after { 
  width: 100%; 
}
.header.sticky .logo {
  max-width: 150px;
}
.menu-btn {
  display: none;
}
.pageHeader {
  padding: 234px 0 140px;
  background: rgb(254, 223, 194, 0.2);
  width: 100%; 
}
.pageHeader h1{ 
  color: #232323;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin: 0;
}
.pageWrapper { 
  margin-top: -100px;
}
.wrapperCard {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -12px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 40px;
}
.footer {
  width: 100%; 
  padding: 50px 0;
  background-color: rgba(254, 223, 194, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.footer img {
  margin-left: 0.5rem;
  max-width: 171px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}
.blog_content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #232323;
  margin: 0 0 20px;
  font-family: 'Yrsa', serif;
}

.blog_content a:hover {
  background-color: orange;
  color: white;
}

.blog_content a {
  color: orange;
}
.blog_content .content-image { 
  margin: 0 0 20px; 
  position: relative;
}
.blog_content .content-image > span{ 
  position: static !important;
}
.blog_content .content-image > span img { 
  position: static !important;
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  min-width: inherit !important;
  min-height: inherit !important;
}
@media screen and (max-width: 991px) {
  .footer { 
    margin-top: 60px;
    padding: 40px;
  }
  .wrapperCard { 
    padding:10px 30px;
  }
  .pageHeader h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .pageHeader {
    padding: 200px 0 140px;
  }
  .menu-btn {
    display: block;
  }
  .header {
    padding: 15px 0;
  }
  .header .logo {
    max-width: 150px;
  }
  .menu-btn .mobile-btn{
    display: block;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: #FD9040;
  }
  .header-row .menu-row  {
    position: fixed;
    top: 96px;
    left: 0;
    height: calc(100vh - 96px);
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    background-color: rgba(254, 223, 194, 0.9);
  }
  .header-row .menu-row.open {
    transform: scaleY(1);
  }
  .header-row .menu-row ul {
    flex-direction: column;
  }
  .header-row .menu-row ul li  {
    margin: 10px 0;
  }
  .header-row .menu-row ul li a {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer { 
    margin-top: 40px;
    padding: 20px;
  }
  .footer a {
    font-size: 19px;
    line-height: 24px;
  }
  .footer img  {
      max-width: 100px;
  }
  .wrapperCard { 
    padding:5px 20px;
    border-radius: 20px;
  }
  .pageHeader {
    padding: 140px 0 120px;
  }
  .pageHeader h1 {
    font-size: 28px;
    line-height: 34px;
  } 
}